/**************** Général ****************/ 
* {
    margin:0;
    padding:0;
}

body {
    padding: 5%;
}

h1 {
    padding-bottom: 5%;
}


/********************** Code Postal *********************/
.codePostal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.saisie {
    width: 30%;
}

.selection {
    width: 30%;
}

.ville {
    width: 100%;
}

/********************** Map ************************/
#map{
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
    height: 500px;
    border: 1px solid black;
}